Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
        files: \.(json)$

  # Kubernetes manifest validation
  - repo: https://github.com/yannh/kubeconform
    rev: v0.6.4
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        args:
          - -strict
          - -ignore-missing-schemas
          - -summary
        files: ^k8s/.*\.yaml$
        exclude: ^k8s/.*kustomization\.yaml$

  # Kustomize build validation
  - repo: local
    hooks:
      - id: kustomize-build
        name: Validate kustomize build
        entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
        language: system
        files: ^k8s/.*\.yaml$
        pass_filenames: false

  # Local custom hooks
  - repo: local
    hooks:
      # Detect incorrect mock paths that cause tests to make real HTTP calls
      - id: detect-bad-mock-paths
        name: Detect incorrect mock paths
        entry: scripts/hooks/detect-bad-mocks.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        types: [python]

      # Optional: Run tests for changed test files (can be slow)
      # Enable by setting JANUA_RUN_TESTS_ON_COMMIT=1
      - id: pytest-changed
        name: Run tests for changed files
        entry: scripts/hooks/pytest-changed.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        pass_filenames: false
        stages: [manual]  # Only run with: pre-commit run pytest-changed --all-files

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

fix(api): make policy CRUD and /evaluate work against the real schema
  apps/api/alembic/versions/010_add_policy_authorization_columns.py
  apps/api/app/models/__init__.py
  apps/api/app/models/policy.py
  apps/api/app/routers/v1/policies.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/policy_engine.py
  apps/api/tests/unit/routers/test_policies_schema_drift.py
Due: detect-bad-mock-paths

fix(api): repair alembic revision chain broken at 004 since March
  apps/api/alembic/versions/003_add_product_tiers.py
  apps/api/alembic/versions/004_add_guest_invites.py
  apps/api/alembic/versions/006_api_key_rate_limit_revoked.py
  apps/api/alembic/versions/007_add_user_entitlements.py
  apps/api/docker-entrypoint.sh
  apps/api/entrypoint.sh
  apps/api/tests/unit/test_alembic_revision_graph.py
Due: detect-bad-mock-paths

deploy(prod): promote d0bd654
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(api): repair alembic revision chain broken at 004 since March (#528)
  apps/api/alembic/versions/003_add_product_tiers.py
  apps/api/alembic/versions/004_add_guest_invites.py
  apps/api/alembic/versions/006_api_key_rate_limit_revoked.py
  apps/api/alembic/versions/007_add_user_entitlements.py
  apps/api/docker-entrypoint.sh
  apps/api/entrypoint.sh
  apps/api/tests/unit/test_alembic_revision_graph.py
Due: detect-bad-mock-paths

fix(alembic): shorten 010 revision id to fit version_num
  apps/api/alembic/versions/010_policy_authz_columns.py
  apps/api/app/models/__init__.py
Due: none

fix(api): make policy CRUD and /evaluate work against the real schema (#527)
  apps/api/alembic/versions/010_policy_authz_columns.py
  apps/api/app/models/__init__.py
  apps/api/app/models/policy.py
  apps/api/app/routers/v1/policies.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/policy_engine.py
  apps/api/tests/unit/routers/test_policies_schema_drift.py
Due: detect-bad-mock-paths

feat(api): localize transactional email per recipient (es-MX + en)
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/services/enhanced_email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/templates/email/base.html
  apps/api/app/templates/email/es/invitation.html
  apps/api/app/templates/email/es/invitation.txt
  apps/api/app/templates/email/es/magic_link.html
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.html
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.html
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_service.py
  k8s/overlays/staging/kustomization.yaml
Due: kustomize-build, detect-bad-mock-paths

feat(api): localize transactional email per recipient (es-MX + en) (#529)
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/services/enhanced_email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/templates/email/base.html
  apps/api/app/templates/email/es/invitation.html
  apps/api/app/templates/email/es/invitation.txt
  apps/api/app/templates/email/es/magic_link.html
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.html
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.html
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_service.py
  k8s/overlays/staging/kustomization.yaml
Due: kustomize-build, detect-bad-mock-paths

fix(api): capture signup locale and repair the invitation email path
  apps/api/app/core/locale.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/invitations.py
  apps/api/app/routers/v1/oauth.py
  apps/api/app/routers/v1/scim.py
  apps/api/app/routers/v1/sso.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/email_service.py
  apps/api/app/services/invitation_service.py
  apps/api/app/services/oauth.py
  apps/api/app/services/sso_service.py
  apps/api/tests/unit/core/test_locale.py
  apps/api/tests/unit/routers/test_signup_locale.py
  apps/api/tests/unit/services/test_invite_email.py
Due: detect-bad-mock-paths

fix(api): require both ids present before the owner check matches
  apps/api/app/services/invitation_service.py
  apps/api/tests/unit/services/test_invite_email.py
Due: detect-bad-mock-paths

test: assert the invitation template that actually renders
  apps/api/tests/unit/services/test_invite_email.py
Due: detect-bad-mock-paths

fix(api): capture signup locale and repair the invitation email path (#530)
  apps/api/app/core/locale.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/invitations.py
  apps/api/app/routers/v1/oauth.py
  apps/api/app/routers/v1/scim.py
  apps/api/app/routers/v1/sso.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/email_service.py
  apps/api/app/services/invitation_service.py
  apps/api/app/services/oauth.py
  apps/api/app/services/sso_service.py
  apps/api/tests/unit/core/test_locale.py
  apps/api/tests/unit/routers/test_signup_locale.py
  apps/api/tests/unit/services/test_invite_email.py
Due: detect-bad-mock-paths

fix(api): make the invitations router work against the real schema
  apps/api/alembic/versions/011_invitation_columns.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/invitations.py
  apps/api/tests/unit/routers/test_invitations_schema_drift.py
Due: detect-bad-mock-paths

fix(api): make the invitations router work against the real schema (#531)
  apps/api/alembic/versions/011_invitation_columns.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/invitations.py
  apps/api/tests/unit/routers/test_invitations_schema_drift.py
Due: detect-bad-mock-paths

fix(migrations): make 004, 006 and 008 survive an already-populated schema
  .github/workflows/tests.yml
  apps/api/alembic/versions/004_add_guest_invites.py
  apps/api/alembic/versions/006_api_key_rate_limit_revoked.py
  apps/api/alembic/versions/008_connected_accounts.py
  apps/api/tests/unit/test_migration_reentrancy.py
Due: detect-bad-mock-paths

fix(test): run every DB call in a subprocess — psycopg2 is a Mock in this suite
  apps/api/tests/unit/test_migration_reentrancy.py
Due: detect-bad-mock-paths

fix(migrations): make 004, 006 and 008 survive an already-populated schema (#532)
  .github/workflows/tests.yml
  apps/api/alembic/versions/004_add_guest_invites.py
  apps/api/alembic/versions/006_api_key_rate_limit_revoked.py
  apps/api/alembic/versions/008_connected_accounts.py
  apps/api/tests/unit/test_migration_reentrancy.py
Due: detect-bad-mock-paths

chore(deps): roll routine updates into one PR, hold dev-tooling majors
  .github/dependabot.yml
Due: none

chore(deps): keep the grouping, drop the dev-tooling major holds
  .github/dependabot.yml
Due: none

chore(deps): roll routine updates into one PR, hold dev-tooling majors (#533)
  .github/dependabot.yml
Due: none

deploy(prod): promote cdb7c99
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

Send as MADFAM, and put the client's own name on their From line
  apps/api/app/config.py
  apps/api/app/services/email_service.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

Every message comes from MADFAM; the platform is credited, not branded
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/base.html
Due: none

Record the sender policy as two phases, and stop calling Phase 1 permanent
  apps/api/app/services/email_service.py
  docs/EMAIL_SENDER_POLICY.md
Due: none

Update the frame-language guard, and clear three more Janua leaks
  apps/api/tests/unit/services/test_email_delivery.py
Due: detect-bad-mock-paths

Adopt hola@madfam.io, and ship a test that proves more than "it sent"
  apps/api/app/config.py
  apps/api/app/services/email_i18n.py
  k8s/base/deployments/janua-api.yaml
  scripts/send-sender-identity-test.sh
Due: kustomize-build

Point the email footer at pages that exist
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/base.html
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/welcome.html
Due: none

Put the real MADFAM mark in the email header
  apps/api/app/static/brand/madfam-logo.png
  apps/api/app/templates/email/base.html
Due: none

fix(email): say "su portal", not the platform name, and settle on usted
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/es/magic_link.html
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/magic_link.html
  apps/api/app/templates/email/magic_link.txt
Due: none

fix(email): make the tests and the docs say what the code now sends
  .env.example
  .env.production.example
  AGENTS.md
  apps/api/.env.example
  apps/api/docs/RESEND_EMAIL_MIGRATION.md
  apps/api/tests/unit/services/test_email_delivery.py
  docs/EMAIL_SENDER_POLICY.md
  docs/guides/COMPLIANCE_FEATURES_GUIDE.md
Due: detect-bad-mock-paths

feat(email): let the reader choose tú or usted in Spanish mail
  apps/api/alembic/versions/012_user_spanish_formality.py
  apps/api/app/models/__init__.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/es/invitation.html
  apps/api/app/templates/email/es/invitation.txt
  apps/api/app/templates/email/es/magic_link.html
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.html
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.html
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/tests/unit/services/test_email_formality.py
Due: detect-bad-mock-paths

test(email): update the headline assertions to "your portal"
  apps/api/tests/unit/services/test_email_delivery.py
Due: detect-bad-mock-paths

feat(email): let the reader choose tú or usted in Spanish mail (#540)
  apps/api/alembic/versions/012_user_spanish_formality.py
  apps/api/app/models/__init__.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/es/invitation.html
  apps/api/app/templates/email/es/invitation.txt
  apps/api/app/templates/email/es/magic_link.html
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.html
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.html
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/tests/unit/services/test_email_formality.py
Due: detect-bad-mock-paths

test(email): pin the strings this branch actually produces
  apps/api/tests/unit/services/test_email_delivery.py
Due: detect-bad-mock-paths

Every message comes from MADFAM; the platform is credited, not branded (#538)
  apps/api/app/config.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/app/static/brand/madfam-logo.png
  apps/api/app/templates/email/base.html
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/magic_link.html
  apps/api/app/templates/email/magic_link.txt
  apps/api/app/templates/email/welcome.html
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_formality.py
  docs/EMAIL_SENDER_POLICY.md
  k8s/base/deployments/janua-api.yaml
  scripts/send-sender-identity-test.sh
Due: kustomize-build, detect-bad-mock-paths

fix(email): make the tests and the docs say what the code now sends (#541)
  .env.example
  .env.production.example
  AGENTS.md
  apps/api/.env.example
  apps/api/docs/RESEND_EMAIL_MIGRATION.md
  apps/api/tests/unit/services/test_email_delivery.py
  docs/EMAIL_SENDER_POLICY.md
  docs/guides/COMPLIANCE_FEATURES_GUIDE.md
Due: detect-bad-mock-paths

The message signs off as MADFAM, like the rest of it already did
  apps/api/app/services/email_i18n.py
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/app/templates/email/magic_link.txt
  apps/api/app/templates/email/password_reset.txt
  apps/api/app/templates/email/verification.txt
  apps/api/app/templates/email/welcome.html
  apps/api/app/templates/email/welcome.txt
Due: none

The message signs off as MADFAM, like the rest of it already did (#542)
  apps/api/app/services/email_i18n.py
  apps/api/app/templates/email/es/magic_link.txt
  apps/api/app/templates/email/es/password_reset.txt
  apps/api/app/templates/email/es/verification.txt
  apps/api/app/templates/email/es/welcome.html
  apps/api/app/templates/email/es/welcome.txt
  apps/api/app/templates/email/magic_link.txt
  apps/api/app/templates/email/password_reset.txt
  apps/api/app/templates/email/verification.txt
  apps/api/app/templates/email/welcome.html
  apps/api/app/templates/email/welcome.txt
Due: none

fix(auth): send_magic_link populates the email the model has always demanded
  apps/api/app/routers/v1/auth.py
Due: none
