Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
        files: \.(json)$

  # Kubernetes manifest validation
  - repo: https://github.com/yannh/kubeconform
    rev: v0.6.4
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        args:
          - -strict
          - -ignore-missing-schemas
          - -summary
        files: ^k8s/.*\.yaml$
        exclude: ^k8s/.*kustomization\.yaml$

  # Kustomize build validation
  - repo: local
    hooks:
      - id: kustomize-build
        name: Validate kustomize build
        entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
        language: system
        files: ^k8s/.*\.yaml$
        pass_filenames: false

  # Local custom hooks
  - repo: local
    hooks:
      # Detect incorrect mock paths that cause tests to make real HTTP calls
      - id: detect-bad-mock-paths
        name: Detect incorrect mock paths
        entry: scripts/hooks/detect-bad-mocks.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        types: [python]

      # Optional: Run tests for changed test files (can be slow)
      # Enable by setting JANUA_RUN_TESTS_ON_COMMIT=1
      - id: pytest-changed
        name: Run tests for changed files
        entry: scripts/hooks/pytest-changed.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        pass_filenames: false
        stages: [manual]  # Only run with: pre-commit run pytest-changed --all-files

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

feat(signup): wire self-serve /auth/signup and fix dead pricing CTAs
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_auth_router.py
  apps/dashboard/app/auth/signup/page.tsx
  apps/dashboard/app/login/page.tsx
  apps/dashboard/middleware.ts
  apps/website/components/sections/honest-pricing.tsx
  apps/website/components/sections/pricing.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/sign-up.tsx
Due: detect-bad-mock-paths

fix(dashboard): send full checkout contract — unbreak /settings/billing upgrade (422)
  apps/dashboard/app/settings/billing/page.test.tsx
  apps/dashboard/app/settings/billing/page.tsx
  apps/dashboard/lib/api.ts
  apps/website/app/demo/page.tsx
Due: none

feat(signup): wire self-serve /auth/signup and fix dead pricing CTAs (#449)
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_auth_router.py
  apps/dashboard/app/auth/signup/page.tsx
  apps/dashboard/app/login/page.tsx
  apps/dashboard/middleware.ts
  apps/website/components/sections/honest-pricing.tsx
  apps/website/components/sections/pricing.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/sign-up.tsx
Due: detect-bad-mock-paths

docs: align README and docs claims with GA claim matrix (truth pass)
  README.md
  docs/BETA_ONBOARDING_GUIDE.md
  docs/DOCUMENTATION_INDEX.md
  docs/README.md
  docs/enterprise/ENTERPRISE_FEATURES.md
  docs/enterprise/compliance_quick_start.md
  docs/enterprise/sso-integration-guide.md
  docs/guides/BILLING_INTEGRATION_GUIDE.md
  docs/guides/COMPLIANCE_FEATURES_GUIDE.md
  docs/guides/DEMO_WALKTHROUGH.md
  docs/guides/LOCAL_DEMO_GUIDE.md
  docs/guides/QUICK_START.md
  docs/guides/SCIM_PROVISIONING_GUIDE.md
  docs/guides/SSO_INTEGRATION_GUIDE.md
  docs/guides/enterprise-sso-saml-setup-guide.md
Due: none

deps: resolve all 38 pnpm audit advisories via non-breaking bumps (#348)
  docs/security/AUDIT_TRIAGE_2026-07-11.md
  package.json
  pnpm-lock.yaml
Due: none

fix(dashboard): send full checkout contract — unbreak /settings/billing upgrade (422) (#450)
  apps/dashboard/app/settings/billing/page.test.tsx
  apps/dashboard/app/settings/billing/page.tsx
  apps/dashboard/lib/api.ts
  apps/website/app/demo/page.tsx
Due: none

docs+deps: README truth pass (GA claim matrix alignment) + pnpm audit triage (#348) (#451)
  README.md
  docs/BETA_ONBOARDING_GUIDE.md
  docs/DOCUMENTATION_INDEX.md
  docs/README.md
  docs/enterprise/ENTERPRISE_FEATURES.md
  docs/enterprise/compliance_quick_start.md
  docs/enterprise/sso-integration-guide.md
  docs/guides/BILLING_INTEGRATION_GUIDE.md
  docs/guides/COMPLIANCE_FEATURES_GUIDE.md
  docs/guides/DEMO_WALKTHROUGH.md
  docs/guides/LOCAL_DEMO_GUIDE.md
  docs/guides/QUICK_START.md
  docs/guides/SCIM_PROVISIONING_GUIDE.md
  docs/guides/SSO_INTEGRATION_GUIDE.md
  docs/guides/enterprise-sso-saml-setup-guide.md
  docs/security/AUDIT_TRIAGE_2026-07-11.md
  package.json
  pnpm-lock.yaml
Due: none

deploy(prod): promote 91bf669
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote e3f9bca
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote fc6aaa2
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote website (506404e) — manual path for the PP.3b workflow gap
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(checkout): relay to dhanam's real checkout contract — unbreak upgrade redirect
  apps/api/app/config.py
  apps/api/app/routers/v1/checkout_dhanam.py
  apps/api/tests/unit/routers/test_checkout_dhanam.py
Due: detect-bad-mock-paths

deploy(prod): promote website (506404e) — manual path for the PP.3b workflow gap (#452)
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(checkout): relay to dhanam's real checkout contract — unbreak upgrade redirect (#453)
  apps/api/app/config.py
  apps/api/app/routers/v1/checkout_dhanam.py
  apps/api/tests/unit/routers/test_checkout_dhanam.py
Due: detect-bad-mock-paths

fix(website): janua /pricing renders + shows ratified $29 Managed tier
  apps/website/components/sections/accurate-comparison.tsx
  apps/website/components/sections/comparison.tsx
  apps/website/components/sections/honest-pricing.tsx
  apps/website/components/sections/pain-points.tsx
  apps/website/components/sections/pricing.test.tsx
  apps/website/components/sections/pricing.tsx
Due: none

fix(website): janua /pricing renders + shows ratified $29 Managed tier (#454)
  apps/website/components/sections/accurate-comparison.tsx
  apps/website/components/sections/comparison.tsx
  apps/website/components/sections/honest-pricing.tsx
  apps/website/components/sections/pain-points.tsx
  apps/website/components/sections/pricing.test.tsx
  apps/website/components/sections/pricing.tsx
Due: none

deploy(prod): promote ad8e481
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote janua-website (20b88a4e) — #454 /pricing $29
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote janua-website (20b88a4e) — #454 /pricing $29 (#455)
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(k8s): wire Dhanam federation relay env into janua-api (Gate A env side)
  k8s/base/deployments/janua-api.yaml
  k8s/overlays/staging/env-patch-api.yaml
Due: kustomize-build

feat(k8s): wire Dhanam federation relay env into janua-api (Gate A env side) (#456)
  k8s/base/deployments/janua-api.yaml
  k8s/overlays/staging/env-patch-api.yaml
Due: kustomize-build

fix(billing+auth): correct verify-email URL + align Pro pricing to $29/MX$499
  apps/api/app/config.py
  apps/api/app/services/billing_service.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_billing_service.py
  apps/api/tests/unit/services/test_billing_service_comprehensive.py
  apps/api/tests/unit/services/test_email_service.py
  apps/dashboard/app/auth/verify-email/page.test.tsx
  apps/dashboard/app/auth/verify-email/page.tsx
  apps/dashboard/app/settings/billing/page.tsx
  apps/dashboard/middleware.ts
Due: detect-bad-mock-paths

fix(billing+auth): correct verify-email URL + align Pro pricing to $29/MX$499 (#460)
  apps/api/app/config.py
  apps/api/app/services/billing_service.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_billing_service.py
  apps/api/tests/unit/services/test_billing_service_comprehensive.py
  apps/api/tests/unit/services/test_email_service.py
  apps/dashboard/app/auth/verify-email/page.test.tsx
  apps/dashboard/app/auth/verify-email/page.tsx
  apps/dashboard/app/settings/billing/page.tsx
  apps/dashboard/middleware.ts
Due: detect-bad-mock-paths

docs(security): replace real-looking example keys with placeholders
  docs/MADFAM_EMAIL_INTEGRATION.md
Due: none

docs(security): replace real-looking example secrets with generated-value placeholders
  docs/MADFAM_EMAIL_INTEGRATION.md
Due: none

docs(security): replace real-looking example secrets with generated-value placeholders (#462)
  docs/MADFAM_EMAIL_INTEGRATION.md
Due: none

fix(auth): allow crm.madfam.io portal hosts as safe redirect origins
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(auth): allow crm.madfam.io portal hosts as safe redirect origins (#463)
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(admin): verify access token in session bridge instead of trusting body
  apps/admin/app/api/auth/session/route.test.ts
  apps/admin/app/api/auth/session/route.ts
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

seed: add fortuna-web public OIDC client (audience=fortuna)
  apps/api/scripts/seed_oidc_clients.py
Due: none

seed: add fortuna-web public OIDC client (audience=fortuna) (#465)
  apps/api/scripts/seed_oidc_clients.py
Due: none

fix(admin): verify access token in session bridge instead of trusting body (#464)
  apps/admin/app/api/auth/session/route.test.ts
  apps/admin/app/api/auth/session/route.ts
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

docs(readme): sanitized statement of Janua's role in the monetization engine
  README.md
Due: none

docs(readme): sanitized statement of Janua's role in the monetization engine (#468)
  README.md
Due: none

chore(ui,react-sdk): declare React 19 support in the peer range
  packages/react-sdk/package.json
  packages/ui/package.json
Due: none

chore: sync pnpm-lock specifiers with the widened peer ranges
  pnpm-lock.yaml
Due: none

ci(security-scan): tell "no critical advisory" apart from "the audit crashed"
  .github/workflows/pr-quality.yml
Due: none

ci(security-scan): fix the classifier that could not classify
  .github/workflows/pr-quality.yml
Due: none

chore(ui,react-sdk): declare React 19 support in the peer range (#469)
  .github/workflows/pr-quality.yml
  packages/react-sdk/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

fix(deps): patch 19 HIGH-severity CVEs found by trivy (Dependabot alerts disabled)
  apps/admin/package.json
  apps/api/sdks/typescript/package-lock.json
  apps/api/sdks/typescript/package.json
  apps/dashboard/package.json
  apps/docs/package.json
  apps/website/package.json
  examples/nextjs-app/package.json
  package.json
  packages/monitoring/package.json
  packages/nextjs-sdk/package.json
  pnpm-lock.yaml
Due: none
