Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
        files: \.(json)$

  # Kubernetes manifest validation
  - repo: https://github.com/yannh/kubeconform
    rev: v0.6.4
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        args:
          - -strict
          - -ignore-missing-schemas
          - -summary
        files: ^k8s/.*\.yaml$
        exclude: ^k8s/.*kustomization\.yaml$

  # Kustomize build validation
  - repo: local
    hooks:
      - id: kustomize-build
        name: Validate kustomize build
        entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
        language: system
        files: ^k8s/.*\.yaml$
        pass_filenames: false

  # Local custom hooks
  - repo: local
    hooks:
      # Detect incorrect mock paths that cause tests to make real HTTP calls
      - id: detect-bad-mock-paths
        name: Detect incorrect mock paths
        entry: scripts/hooks/detect-bad-mocks.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        types: [python]

      # Optional: Run tests for changed test files (can be slow)
      # Enable by setting JANUA_RUN_TESTS_ON_COMMIT=1
      - id: pytest-changed
        name: Run tests for changed files
        entry: scripts/hooks/pytest-changed.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        pass_filenames: false
        stages: [manual]  # Only run with: pre-commit run pytest-changed --all-files

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

fix(auth): send_magic_link populates the email the model has always demanded (#543)
  apps/api/app/routers/v1/auth.py
Due: none

deploy(prod): promote 4d2951a
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(auth): the magic link lands on the product, and a bad destination fails loudly
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_magic_link_destination.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

test: the HTML body entity-escapes the ampersand; assert both renderings
  apps/api/tests/unit/services/test_magic_link_destination.py
Due: detect-bad-mock-paths

fix(email): autoescape by extension — entities do not belong in plain text
  apps/api/app/services/email_i18n.py
Due: none

fix(auth): magic link lands on the product; bad destinations fail loudly (#544)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_magic_link_destination.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

deploy(prod): promote 90a8cc1
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(auth): magic-link sessions carry the audience of the product they forward to
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_magic_link_audience.py
Due: detect-bad-mock-paths

fix(auth): the audience resolver tolerates double-encoded redirect_uris
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_magic_link_audience.py
Due: detect-bad-mock-paths

feat(auth): magic-link sessions carry the product's audience (#545)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_magic_link_audience.py
Due: detect-bad-mock-paths

fix(auth): /session answers bearers, and the issuer accepts what it minted
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_session_bearer_and_audience.py
Due: detect-bad-mock-paths

test: verify_token unit tests mock the redis blacklist seam
  apps/api/tests/unit/routers/test_session_bearer_and_audience.py
Due: detect-bad-mock-paths

fix(auth): /session bearer fallback + issuer-side multi-audience verify (#546)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_session_bearer_and_audience.py
Due: detect-bad-mock-paths

deploy(prod): promote c9848b4
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): engagement-lifecycle transactional templates for Nauta
  apps/api/app/routers/v1/email.py
  apps/api/templates/emails/transactional_agreement-accepted.html
  apps/api/templates/emails/transactional_workspace-activated.html
  apps/api/tests/unit/services/test_engagement_templates.py
Due: detect-bad-mock-paths

feat(email): engagement-lifecycle transactional templates for Nauta (#547)
  apps/api/app/routers/v1/email.py
  apps/api/templates/emails/transactional_agreement-accepted.html
  apps/api/templates/emails/transactional_workspace-activated.html
  apps/api/tests/unit/services/test_engagement_templates.py
Due: detect-bad-mock-paths

fix(k8s): map internal-api-key into INTERNAL_API_KEY on the api
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(k8s): map internal-api-key into INTERNAL_API_KEY on the api (#548)
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

deploy(prod): promote 19cdf7c
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): transactional/request-filed — operator notification for client priorities (Nauta)
  apps/api/app/routers/v1/email.py
  apps/api/templates/emails/transactional_request-filed.html
  apps/api/tests/unit/services/test_engagement_templates.py
Due: detect-bad-mock-paths

feat(email): transactional/request-filed — operator notification for client priorities (Nauta) (#549)
  apps/api/app/routers/v1/email.py
  apps/api/templates/emails/transactional_request-filed.html
  apps/api/tests/unit/services/test_engagement_templates.py
Due: detect-bad-mock-paths

deploy(prod): promote fe8e43d
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(docker): the api image finally carries its email templates
  Dockerfile.api
Due: none

fix(docker): the api image finally carries its email templates (#550)
  Dockerfile.api
Due: none

deploy(prod): promote ef7c9c5
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(go-sdk): implement real HMAC-SHA256 webhook signature verification
  packages/go-sdk/janua/client.go
  packages/go-sdk/janua/webhook_test.go
Due: none

feat(admin): create-user endpoint + remove dead signup/email config
  AGENTS.md
  apps/api/app/config.py
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_admin_create_user.py
  apps/api/tests/unit/routers/test_signup_allow_signups.py
Due: detect-bad-mock-paths

fix(compliance): implement real data-subject + bulk export (was stubbed)
  apps/api/app/compliance/privacy/data_subject_handler.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/models/audit.py
  apps/api/app/models/users.py
  apps/api/app/routers/v1/migration.py
  apps/api/app/services/compliance_service.py
  apps/api/app/services/data_export_serializer.py
  apps/api/app/services/migration_service.py
  apps/api/tests/unit/compliance/test_data_subject_handler_export.py
  apps/api/tests/unit/services/test_compliance_access_export.py
  apps/api/tests/unit/services/test_compliance_service.py
  apps/api/tests/unit/services/test_data_export_serializer.py
  apps/api/tests/unit/services/test_migration_export.py
  docs/enterprise/GA_CLAIM_MATRIX.md
Due: detect-bad-mock-paths

fix(export): CI green — comprehensive test mock + Bandit B406 nosec
  apps/api/app/services/data_export_serializer.py
  apps/api/tests/unit/services/test_compliance_service_comprehensive.py
Due: detect-bad-mock-paths

feat(admin): create-user endpoint + remove dead signup/email config (#553)
  AGENTS.md
  apps/api/app/config.py
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_admin_create_user.py
  apps/api/tests/unit/routers/test_signup_allow_signups.py
Due: detect-bad-mock-paths

fix(compliance): implement real data-subject + bulk export (was stubbed) (#554)
  apps/api/app/compliance/privacy/data_subject_handler.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/models/audit.py
  apps/api/app/models/users.py
  apps/api/app/routers/v1/migration.py
  apps/api/app/services/compliance_service.py
  apps/api/app/services/data_export_serializer.py
  apps/api/app/services/migration_service.py
  apps/api/tests/unit/compliance/test_data_subject_handler_export.py
  apps/api/tests/unit/services/test_compliance_access_export.py
  apps/api/tests/unit/services/test_compliance_service.py
  apps/api/tests/unit/services/test_compliance_service_comprehensive.py
  apps/api/tests/unit/services/test_data_export_serializer.py
  apps/api/tests/unit/services/test_migration_export.py
  docs/enterprise/GA_CLAIM_MATRIX.md
Due: detect-bad-mock-paths

fix(go-sdk): implement real HMAC-SHA256 webhook signature verification (#552)
  packages/go-sdk/janua/client.go
  packages/go-sdk/janua/webhook_test.go
Due: none

security(mfa): hash backup codes at rest + single verify-and-consume path
  apps/api/app/routers/v1/mfa.py
  apps/api/tests/unit/routers/test_mfa_backup_codes.py
Due: detect-bad-mock-paths

security(passkeys): fix broken/insecure WebAuthn ceremonies + RP config
  apps/api/app/routers/v1/passkeys.py
Due: none

security(mfa): enforce MFA on ALL login paths, staged behind a default-off flag
  apps/api/app/auth/mfa_enforcement.py
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/auth/test_mfa_enforcement.py
Due: detect-bad-mock-paths

docs(mfa): 2026-08-23 MFA/passkey audit — status + remaining P1-P3 plan
  docs/2026-08-23-mfa-passkey-audit-and-plan.md
Due: none

security(mfa): hash backup codes at rest + single verify-and-consume path (#556)
  apps/api/app/routers/v1/mfa.py
  apps/api/tests/unit/routers/test_mfa_backup_codes.py
Due: detect-bad-mock-paths

security(passkeys): fix broken/insecure WebAuthn ceremonies + RP config (#557)
  apps/api/app/routers/v1/passkeys.py
Due: none

security(mfa): enforce MFA on ALL login paths, staged behind a default-off flag (#558)
  apps/api/app/auth/mfa_enforcement.py
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/auth/test_mfa_enforcement.py
Due: detect-bad-mock-paths

docs(mfa): 2026-08-23 MFA/passkey audit — status + remaining P1-P3 plan (#559)
  docs/2026-08-23-mfa-passkey-audit-and-plan.md
Due: none
