Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

kustomize-build:
  name: Validate kustomize build
  entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
  language: system
  pass_filenames: false

detect-bad-mock-paths:
  name: Detect incorrect mock paths
  entry: scripts/hooks/detect-bad-mocks.sh
  language: script

feat(oauth): data-API token shaping for enclii PostgREST (BaaS Phase 1) (#581)
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_data_api_claims.py
Due: detect-bad-mock-paths

feat(auth): bind self-signup to a tenant via the app's OAuth client_id
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_signup_tenant_binding.py
Due: detect-bad-mock-paths

feat(auth): bind self-signup to a tenant via the app's OAuth client_id (#582)
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_signup_tenant_binding.py
Due: detect-bad-mock-paths

feat(auth): per-tenant email uniqueness (BaaS Phase 1)
  apps/api/alembic/versions/013_per_tenant_email_uniqueness.py
  apps/api/app/auth/router.py
  apps/api/app/auth/router_completed.py
  apps/api/app/core/database.py
  apps/api/app/models/__init__.py
  apps/api/app/organizations/infrastructure/repositories/organization_repository.py
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/mfa.py
  apps/api/app/routers/v1/organizations.py
  apps/api/app/routers/v1/organizations/dependencies.py
  apps/api/app/routers/v1/passkeys.py
  apps/api/app/routers/v1/scim.py
  apps/api/app/routers/v1/webhooks_dhanam.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/invitation_service.py
  apps/api/app/services/oauth.py
  apps/api/app/services/sso_service.py
  apps/api/app/services/user_lookup.py
  apps/api/app/sso/domain/services/user_provisioning.py
  apps/api/tests/unit/services/test_user_lookup.py
  apps/api/tests/unit/sso/test_user_provisioning_lookup.py
Due: detect-bad-mock-paths

feat(auth): per-tenant email uniqueness (BaaS Phase 1) (#583)
  apps/api/alembic/versions/013_per_tenant_email_uniqueness.py
  apps/api/app/auth/router.py
  apps/api/app/auth/router_completed.py
  apps/api/app/core/database.py
  apps/api/app/models/__init__.py
  apps/api/app/organizations/infrastructure/repositories/organization_repository.py
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/mfa.py
  apps/api/app/routers/v1/organizations.py
  apps/api/app/routers/v1/organizations/dependencies.py
  apps/api/app/routers/v1/passkeys.py
  apps/api/app/routers/v1/scim.py
  apps/api/app/routers/v1/webhooks_dhanam.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/invitation_service.py
  apps/api/app/services/oauth.py
  apps/api/app/services/sso_service.py
  apps/api/app/services/user_lookup.py
  apps/api/app/sso/domain/services/user_provisioning.py
  apps/api/tests/unit/services/test_user_lookup.py
  apps/api/tests/unit/sso/test_user_provisioning_lookup.py
Due: detect-bad-mock-paths

feat(internal): user provisioning + lifecycle API for sibling-app rosters
  apps/api/app/main.py
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/tests/unit/routers/test_internal_users.py
Due: detect-bad-mock-paths

feat(internal): user provisioning + lifecycle API for sibling-app rosters (#585)
  apps/api/app/main.py
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/tests/unit/routers/test_internal_users.py
Due: detect-bad-mock-paths

feat(internal): capability links — RFC + router (groundwork)
  apps/api/alembic/versions/014_capability_links.py
  apps/api/app/main.py
  apps/api/app/models/__init__.py
  apps/api/app/models/capability_link.py
  apps/api/app/routers/v1/internal_capability_links.py
  apps/api/app/schemas/capability_link.py
  apps/api/tests/unit/routers/test_internal_capability_links.py
  docs/architecture/ADR-004_CAPABILITY_LINKS.md
  docs/architecture/INDEX.md
Due: detect-bad-mock-paths

feat(internal): capability links — RFC + router (groundwork) (#586)
  apps/api/alembic/versions/014_capability_links.py
  apps/api/app/main.py
  apps/api/app/models/__init__.py
  apps/api/app/models/capability_link.py
  apps/api/app/routers/v1/internal_capability_links.py
  apps/api/app/schemas/capability_link.py
  apps/api/tests/unit/routers/test_internal_capability_links.py
  docs/architecture/ADR-004_CAPABILITY_LINKS.md
  docs/architecture/INDEX.md
Due: detect-bad-mock-paths

fix(guest-invites): bind caller to path org_id; stop returning plaintext tokens
  apps/api/app/routers/v1/guest.py
  apps/api/app/routers/v1/guest_invites.py
  apps/api/tests/unit/routers/test_guest_invites_authz.py
Due: detect-bad-mock-paths

fix(guest-invites): bind caller to path org_id; stop returning plaintext tokens (#587)
  apps/api/app/routers/v1/guest.py
  apps/api/app/routers/v1/guest_invites.py
  apps/api/tests/unit/routers/test_guest_invites_authz.py
Due: detect-bad-mock-paths

feat(auth): sellar el claim de entitlements en tokens de magic-link
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_magic_link_entitlement_claim.py
Due: detect-bad-mock-paths

feat(auth): sellar el claim de entitlements en tokens de magic-link (#588)
  apps/api/app/services/auth_service.py
  apps/api/tests/unit/routers/test_magic_link_entitlement_claim.py
Due: detect-bad-mock-paths

fix(magic-link): fallback callback uses the public domain, never the api.janua.dev default
  apps/api/app/config.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_magic_link_destination.py
Due: detect-bad-mock-paths

fix(magic-link): fallback callback uses the public domain, never the api.janua.dev default (#589)
  apps/api/app/config.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_magic_link_destination.py
Due: detect-bad-mock-paths

feat(claims): sellar org_id en tokens de sesión + service principals de primera clase
  apps/api/alembic/versions/015_user_is_service_account.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/routers/v1/organization_members.py
  apps/api/app/routers/v1/users.py
  apps/api/app/schemas/internal.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/org_claims_service.py
  apps/api/app/services/service_principal.py
  apps/api/tests/unit/services/test_org_claims_service.py
  apps/api/tests/unit/services/test_service_principal.py
  docs/api/API_REFERENCE.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

feat(claims): sellar org_id en tokens de sesión + service principals de primera clase (#590)
  apps/api/alembic/versions/015_user_is_service_account.py
  apps/api/app/models/__init__.py
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/routers/v1/organization_members.py
  apps/api/app/routers/v1/users.py
  apps/api/app/schemas/internal.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/org_claims_service.py
  apps/api/app/services/service_principal.py
  apps/api/tests/unit/services/test_org_claims_service.py
  apps/api/tests/unit/services/test_service_principal.py
  docs/api/API_REFERENCE.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

deploy(prod): promote 2afcb14
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(provision): create the organization membership so provisioned users carry org claims
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/app/services/organization_member_service.py
  apps/api/tests/unit/routers/test_internal_users.py
  apps/api/tests/unit/services/test_organization_member_service.py
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

fix(provision): create the organization membership so provisioned users carry org claims (#591)
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/app/services/organization_member_service.py
  apps/api/tests/unit/routers/test_internal_users.py
  apps/api/tests/unit/services/test_organization_member_service.py
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

deploy(prod): promote aec1b19
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(models): organization_member_app_roles — per-tenant application role grants
  apps/api/alembic/versions/016_org_member_app_roles.py
  apps/api/app/models/__init__.py
  apps/api/app/models/app_role.py
Due: none

feat(claims): resolve application roles into the `roles` claim, in the SSOT
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/org_claims_service.py
Due: none

feat(internal): grant/revoke/list application roles per organization member
  apps/api/app/main.py
  apps/api/app/routers/v1/internal_app_roles.py
  apps/api/app/schemas/app_role.py
  apps/api/app/services/audit_logger.py
Due: none

test(claims): pin application roles reaching the token — and the four leaks
  apps/api/tests/unit/routers/test_internal_app_roles.py
  apps/api/tests/unit/services/test_app_role_claims.py
Due: detect-bad-mock-paths

fix(models): carry the partial-index predicate on SQLite too
  apps/api/app/models/app_role.py
  apps/api/tests/unit/routers/test_internal_app_roles.py
  apps/api/tests/unit/services/test_app_role_claims.py
Due: detect-bad-mock-paths

docs(claims): document application roles, the merge trap, and the operator steps
  docs/api/API_REFERENCE.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: none

feat(sso): set issuer session cookies on both magic-link paths (B1)
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_magic_link_session_cookie.py
Due: detect-bad-mock-paths

fix(oauth): accept every audience Janua mints at /authorize (B2)
  apps/api/app/core/jwt_manager.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_session_audience.py
Due: detect-bad-mock-paths

feat(oauth): pre-consent first-party clients at /authorize (B6)
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_first_party_consent.py
  apps/api/tests/unit/routers/test_oauth_provider_silent_auth.py
Due: detect-bad-mock-paths

docs(sso): record the silent-SSO order and the cookie-domain decision
  docs/architecture/INDEX.md
  docs/architecture/SILENT_SSO_SESSION.md
Due: none

feat(claims): application roles per organization member (hcm:* in the roles claim) (#592)
  apps/api/alembic/versions/016_org_member_app_roles.py
  apps/api/app/main.py
  apps/api/app/models/__init__.py
  apps/api/app/models/app_role.py
  apps/api/app/routers/v1/internal_app_roles.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/schemas/app_role.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/auth_service.py
  apps/api/app/services/org_claims_service.py
  apps/api/tests/unit/routers/test_internal_app_roles.py
  apps/api/tests/unit/services/test_app_role_claims.py
  docs/api/API_REFERENCE.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

feat(sso): session cookies on magic-link paths, audience-tolerant /authorize, first-party pre-consent (#593)
  apps/api/app/core/jwt_manager.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_magic_link_session_cookie.py
  apps/api/tests/unit/routers/test_oauth_provider_first_party_consent.py
  apps/api/tests/unit/routers/test_oauth_provider_session_audience.py
  apps/api/tests/unit/routers/test_oauth_provider_silent_auth.py
  docs/architecture/INDEX.md
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

deploy(prod): promote 64bb684
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(auth): magic link resolves users provisioned into a tenant pool
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/user_lookup.py
Due: none

test(auth): cover tenant-pool magic link, integrity guard, ambiguity refusal
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_magic_link_tenant_pool.py
  apps/api/tests/unit/services/test_user_lookup.py
  docs/architecture/ADR-001_AUTH_FLOW.md
Due: detect-bad-mock-paths

test(auth): use a non-reserved TLD for the magic-link fixture email
  apps/api/tests/unit/routers/test_magic_link_tenant_pool.py
Due: detect-bad-mock-paths

fix(internal): org STAFF are provisioned into the platform pool, not a tenant pool
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/docs/api/endpoints-reference.md
  apps/api/tests/unit/routers/conftest.py
  apps/api/tests/unit/routers/test_internal_users.py
  apps/api/tests/unit/routers/test_internal_users_identity_pool.py
  docs/architecture/ADR-001_AUTH_FLOW.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

fix(auth): magic link resolves users provisioned into a tenant pool; staff provisioning keeps the platform pool (#594)
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/internal_users.py
  apps/api/app/schemas/internal.py
  apps/api/app/services/user_lookup.py
  apps/api/docs/api/endpoints-reference.md
  apps/api/tests/unit/routers/conftest.py
  apps/api/tests/unit/routers/test_internal_users.py
  apps/api/tests/unit/routers/test_internal_users_identity_pool.py
  apps/api/tests/unit/routers/test_magic_link_tenant_pool.py
  apps/api/tests/unit/services/test_user_lookup.py
  docs/architecture/ADR-001_AUTH_FLOW.md
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

deploy(prod): promote 3b17c14
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

Path conditions:
  kustomize-build: any of: ^k8s/.*\.yaml$
  detect-bad-mock-paths: any of: ^apps/api/tests/.*\.py$ and \.py$
