Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

kustomize-build:
  name: Validate kustomize build
  entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
  language: system
  pass_filenames: false

detect-bad-mock-paths:
  name: Detect incorrect mock paths
  entry: scripts/hooks/detect-bad-mocks.sh
  language: script

fix(scripts): send a User-Agent to the Resend API (Cloudflare 1010 otherwise)
  scripts/resend_domain_onboard.py
Due: none

fix(email): the sender display name follows the address, never the platform's
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/services/sender_binding.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
Due: detect-bad-mock-paths

fix(scripts): send a User-Agent to the Resend API (Cloudflare 1010 otherwise) (#606)
  scripts/resend_domain_onboard.py
Due: none

fix(email): the sender display name follows the address, never the platform's (#607)
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/services/sender_binding.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
Due: detect-bad-mock-paths

deploy(prod): promote bfac3af
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): Crea Tu Mundo sends from its OWN Resend account (hola@creatumundo.mx)
  apps/api/app/services/sender_binding.py
Due: none

fix(email): CTM credential arrives as env CTM_RESEND_API_KEY, not a Vault path
  apps/api/app/services/sender_binding.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(email): a missing CTM credential degrades the sender, never the sign-in link
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/sender_credentials.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
Due: detect-bad-mock-paths

feat(email): Crea Tu Mundo sends from its own Resend account (hola@creatumundo.mx) (#608)
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/sender_binding.py
  apps/api/app/services/sender_credentials.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

deploy(prod): promote 80facbc
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(scripts): send a User-Agent from sender_binding_switch.py too
  apps/api/tests/unit/test_resend_scripts_user_agent.py
  scripts/sender_binding_switch.py
Due: detect-bad-mock-paths

docs: bring the sender, magic-link and SSO docs up to what shipped 2026-09-07
  AGENTS.md
  README.md
  apps/api/app/services/sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/architecture/SILENT_SSO_SESSION.md
  docs/runbooks/resend-domain-onboarding.md
  llms-full.txt
  llms.txt
Due: none

docs: wrap-up for 2026-09-07 (trains 1-4 live) + a User-Agent for sender_binding_switch.py (#609)
  AGENTS.md
  README.md
  apps/api/app/services/sender_binding.py
  apps/api/tests/unit/test_resend_scripts_user_agent.py
  docs/EMAIL_SENDER_POLICY.md
  docs/architecture/SILENT_SSO_SESSION.md
  docs/runbooks/resend-domain-onboarding.md
  llms-full.txt
  llms.txt
  scripts/sender_binding_switch.py
Due: detect-bad-mock-paths

Path conditions:
  kustomize-build: any of: ^k8s/.*\.yaml$
  detect-bad-mock-paths: any of: ^apps/api/tests/.*\.py$ and \.py$
