Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

kustomize-build:
  name: Validate kustomize build
  entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
  language: system
  pass_filenames: false

detect-bad-mock-paths:
  name: Detect incorrect mock paths
  entry: scripts/hooks/detect-bad-mocks.sh
  language: script

chore(lint): migrate ESLint to flat config and widen the lint gate
  .eslintrc.json
  apps/admin/.eslintrc.json
  apps/admin/eslint.config.mjs
  apps/admin/package.json
  apps/dashboard/.eslintrc.json
  apps/dashboard/eslint.config.mjs
  apps/dashboard/package.json
  apps/docs/.eslintrc.json
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/website/.eslintrc.json
  apps/website/eslint.config.mjs
  apps/website/package.json
  eslint.config.mjs
  eslint.next.mjs
  package.json
  packages/feature-flags/package.json
  packages/react-native-sdk/package.json
  packages/typescript-sdk/.eslintrc.cjs
  packages/typescript-sdk/eslint.config.mjs
  packages/typescript-sdk/package.json
  pnpm-lock.yaml
  scripts/lint-workspaces.mjs
Due: none

fix(python-sdk): make the package importable and stop CI hiding it
  .github/workflows/sdk-ci.yml
  packages/python-sdk/janua/types.py
  packages/python-sdk/janua/users.py
  packages/python-sdk/janua/utils.py
  packages/python-sdk/pyproject.toml
  packages/python-sdk/requirements.txt
Due: none

chore(deps): align @types/node with the runtime by moving both to Node 22 LTS
  .github/workflows/ci.yml
  .github/workflows/docs-validation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-quality.yml
  .github/workflows/production-readiness.yml
  .github/workflows/publish-sdks.yml
  .github/workflows/publish.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .github/workflows/validate-user-journeys.yml
  .nvmrc
  Dockerfile.admin
  Dockerfile.dashboard
  Dockerfile.docs
  Dockerfile.website
  apps/admin/Dockerfile
  apps/admin/package.json
  apps/dashboard/Dockerfile
  apps/dashboard/package.json
  apps/docs/Dockerfile
  apps/docs/package.json
  apps/website/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/edge/package.json
  packages/feature-flags/package.json
  packages/jwt-utils/package.json
  packages/mock-api/package.json
  packages/nextjs-sdk/package.json
  packages/typescript-sdk/package.json
  packages/vue-sdk/package.json
  pnpm-lock.yaml
  tests/test-app/Dockerfile
Due: none

fix(python-sdk): restore Python 3.8 compatibility in validate_password_strength
  packages/python-sdk/janua/utils.py
Due: none

ci(python-sdk): verify the built wheel, not the editable install
  .github/workflows/sdk-ci.yml
Due: none

build(deps): bound @babel/core below v8 (#488)
  package.json
  pnpm-lock.yaml
Due: none

fix(python-sdk): make the package importable and stop CI hiding it (#492)
  .github/workflows/sdk-ci.yml
  packages/python-sdk/janua/types.py
  packages/python-sdk/janua/users.py
  packages/python-sdk/janua/utils.py
  packages/python-sdk/pyproject.toml
  packages/python-sdk/requirements.txt
Due: none

chore(lint): migrate ESLint to flat config and widen the lint gate (#491)
  .eslintrc.json
  apps/admin/.eslintrc.json
  apps/admin/eslint.config.mjs
  apps/admin/package.json
  apps/dashboard/.eslintrc.json
  apps/dashboard/eslint.config.mjs
  apps/dashboard/package.json
  apps/docs/.eslintrc.json
  apps/docs/eslint.config.mjs
  apps/docs/package.json
  apps/website/.eslintrc.json
  apps/website/eslint.config.mjs
  apps/website/package.json
  eslint.config.mjs
  eslint.next.mjs
  package.json
  packages/feature-flags/package.json
  packages/react-native-sdk/package.json
  packages/typescript-sdk/.eslintrc.cjs
  packages/typescript-sdk/eslint.config.mjs
  packages/typescript-sdk/package.json
  pnpm-lock.yaml
  scripts/lint-workspaces.mjs
Due: none

fix(ci): migrate Go SDK linter to golangci-lint v2, matching the action major
  .github/workflows/sdk-ci.yml
  packages/go-sdk/.golangci.yml
Due: none

fix(ci): migrate Go SDK linter to golangci-lint v2, matching the action major (#495)
  .github/workflows/sdk-ci.yml
  packages/go-sdk/.golangci.yml
Due: none

fix(dashboard): a failed OAuth-client load must not read as an empty registry (#480)
  apps/dashboard/app/settings/oauth-clients/page.test.tsx
  apps/dashboard/app/settings/oauth-clients/page.tsx
Due: none

fix(security): raise cryptography floors to >=50.0.0 (PYSEC-2026-3552) (#484)
  .github/workflows/sdk-ci.yml
  apps/api/requirements.txt
  packages/python-sdk/pyproject.toml
Due: none

fix(deps): patch 19 HIGH-severity CVEs found by trivy (Dependabot alerts are disabled here) (#470)
  .gitignore
  apps/admin/package.json
  apps/api/sdks/typescript/package-lock.json
  apps/api/sdks/typescript/package.json
  apps/dashboard/package.json
  apps/docs/package.json
  apps/website/package.json
  examples/nextjs-app/package.json
  package.json
  packages/monitoring/package.json
  packages/nextjs-sdk/package.json
  pnpm-lock.yaml
Due: none

ci(dependabot): hold @types/node major bumps to the Node runtime
  .github/dependabot.yml
Due: none

ci(dependabot): hold @types/node major bumps to the Node runtime (#496)
  .github/dependabot.yml
Due: none

chore(deps): align @types/node with the runtime by moving both to Node 22
  .github/workflows/docs-validation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-quality.yml
  .github/workflows/production-readiness.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .nvmrc
  Dockerfile.admin
  Dockerfile.dashboard
  Dockerfile.docs
  Dockerfile.website
  apps/admin/package.json
  apps/dashboard/package.json
  apps/docs/Dockerfile
  apps/docs/package.json
  apps/website/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/edge/package.json
  packages/feature-flags/package.json
  packages/jwt-utils/package.json
  packages/mock-api/package.json
  packages/nextjs-sdk/package.json
  packages/typescript-sdk/package.json
  packages/vue-sdk/package.json
  pnpm-lock.yaml
Due: none

fix(core): unref and clear MFAService's cleanup interval
  packages/core/src/services/mfa-service.ts
Due: none

fix(core): unref and clear MFAService's cleanup interval (#508)
  packages/core/src/services/mfa-service.ts
Due: none

chore(deps): align @types/node with the runtime by moving both to Node 22 (#497)
  .github/workflows/docs-validation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/maintenance.yml
  .github/workflows/pr-quality.yml
  .github/workflows/production-readiness.yml
  .github/workflows/sdk-ci.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
  .nvmrc
  Dockerfile.admin
  Dockerfile.dashboard
  Dockerfile.docs
  Dockerfile.website
  apps/admin/package.json
  apps/dashboard/package.json
  apps/docs/Dockerfile
  apps/docs/package.json
  apps/website/package.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/edge/package.json
  packages/feature-flags/package.json
  packages/jwt-utils/package.json
  packages/mock-api/package.json
  packages/nextjs-sdk/package.json
  packages/typescript-sdk/package.json
  packages/vue-sdk/package.json
  pnpm-lock.yaml
Due: none

feat(oauth): nauta-legal-drafts service client — the Nauta→Karafiel legal edge
  apps/api/app/main.py
  apps/api/scripts/seed_service_clients.py
  apps/api/tests/unit/routers/test_service_token_clients.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

feat(oauth): nauta-legal-drafts service client — the Nauta→Karafiel legal edge (#518)
  apps/api/app/main.py
  apps/api/scripts/seed_service_clients.py
  apps/api/tests/unit/routers/test_service_token_clients.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

fix(config): nauta hosts join CORS_ORIGINS — magic-link redirects were blocked
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(config): nauta hosts join CORS_ORIGINS — magic-link redirects were blocked (#519)
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(users): NULL boolean columns must not 500 identity endpoints
  apps/api/app/routers/v1/users.py
Due: none

fix(users): NULL boolean columns must not 500 identity endpoints (#520)
  apps/api/app/routers/v1/users.py
Due: none

fix(auth): hosted password-recovery pages — recovery could never complete
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/routers/test_auth_recovery_pages.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

test: hardening guard follows the reset-path refactor one level down
  apps/api/tests/unit/security/test_security_hardening.py
Due: detect-bad-mock-paths

fix(auth): hosted password-recovery pages — recovery could never complete (#521)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/routers/test_auth_recovery_pages.py
  apps/api/tests/unit/security/test_security_hardening.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

deploy(prod): promote b65402c
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(email): Janua could not send mail at all — four faults, one path
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/magic_link.html
  apps/api/app/templates/email/magic_link.txt
  apps/api/app/templates/email/mfa_recovery.html
  apps/api/app/templates/email/password_reset.html
  apps/api/app/templates/email/security_alert.html
  apps/api/app/templates/email/verification.html
  apps/api/app/templates/email/welcome.html
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_service.py
Due: detect-bad-mock-paths

fix(oauth): restart at the client instead of forging an authorize request
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_restart.py
Due: detect-bad-mock-paths

fix(email): Janua could not send mail at all — four faults, one path (#522)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/magic_link.html
  apps/api/app/templates/email/magic_link.txt
  apps/api/app/templates/email/mfa_recovery.html
  apps/api/app/templates/email/password_reset.html
  apps/api/app/templates/email/security_alert.html
  apps/api/app/templates/email/verification.html
  apps/api/app/templates/email/welcome.html
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_service.py
Due: detect-bad-mock-paths

fix(oauth): restart at the client instead of forging an authorize request (#523)
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_restart.py
Due: detect-bad-mock-paths

deploy(prod): promote 8672679
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(auth): magic-link verification queried a column that does not exist
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_magic_link_model_fields.py
Due: detect-bad-mock-paths

fix(auth): magic-link verification queried a column that does not exist (#524)
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/routers/test_magic_link_model_fields.py
Due: detect-bad-mock-paths

fix(api): unshadow GET /policies/roles from /{policy_id}
  apps/api/app/routers/v1/policies.py
  apps/api/tests/unit/routers/test_policies_route_order.py
Due: detect-bad-mock-paths

fix(api): unshadow GET /policies/roles from /{policy_id} (#525)
  apps/api/app/routers/v1/policies.py
  apps/api/tests/unit/routers/test_policies_route_order.py
Due: detect-bad-mock-paths

feat(oauth): issue legal:client-profile on nauta-legal-drafts
  apps/api/app/main.py
  apps/api/scripts/seed_service_clients.py
  apps/api/tests/unit/routers/test_service_token_clients.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

feat(oauth): issue legal:client-profile on nauta-legal-drafts (#526)
  apps/api/app/main.py
  apps/api/scripts/seed_service_clients.py
  apps/api/tests/unit/routers/test_service_token_clients.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

Path conditions:
  kustomize-build: any of: ^k8s/.*\.yaml$
  detect-bad-mock-paths: any of: ^apps/api/tests/.*\.py$ and \.py$
