Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
        files: \.(json)$

  # Kubernetes manifest validation
  - repo: https://github.com/yannh/kubeconform
    rev: v0.6.4
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        args:
          - -strict
          - -ignore-missing-schemas
          - -summary
        files: ^k8s/.*\.yaml$
        exclude: ^k8s/.*kustomization\.yaml$

  # Kustomize build validation
  - repo: local
    hooks:
      - id: kustomize-build
        name: Validate kustomize build
        entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
        language: system
        files: ^k8s/.*\.yaml$
        pass_filenames: false

  # Local custom hooks
  - repo: local
    hooks:
      # Detect incorrect mock paths that cause tests to make real HTTP calls
      - id: detect-bad-mock-paths
        name: Detect incorrect mock paths
        entry: scripts/hooks/detect-bad-mocks.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        types: [python]

      # Optional: Run tests for changed test files (can be slow)
      # Enable by setting JANUA_RUN_TESTS_ON_COMMIT=1
      - id: pytest-changed
        name: Run tests for changed files
        entry: scripts/hooks/pytest-changed.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        pass_filenames: false
        stages: [manual]  # Only run with: pre-commit run pytest-changed --all-files

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

feat(auth): hosted OAuth MFA challenge screen + fix broken MFA/passkey activity logging (P1 #3)
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/mfa.py
  apps/api/app/routers/v1/passkeys.py
  apps/api/tests/unit/routers/test_login_form_mfa.py
  apps/api/tests/unit/routers/test_mfa_challenge_verify.py
Due: detect-bad-mock-paths

feat(typescript-sdk): surface MFA challenge + add verifyMfaChallenge; fix passkey login and stale MFA endpoints (P1 #1, #2)
  packages/typescript-sdk/src/__tests__/auth.test.ts
  packages/typescript-sdk/src/__tests__/auth/auth-mfa.test.ts
  packages/typescript-sdk/src/__tests__/auth/auth-passkey.test.ts
  packages/typescript-sdk/src/auth.ts
  packages/typescript-sdk/src/auth/core-auth-service.ts
  packages/typescript-sdk/src/auth/mfa-service.ts
  packages/typescript-sdk/src/client.ts
  packages/typescript-sdk/src/types.ts
  packages/typescript-sdk/src/webauthn-helper.ts
Due: none

fix(sdks): handle MFA challenge + optional tokens in nextjs/react/vue SDK auth helpers
  packages/nextjs-sdk/src/app/server.ts
  packages/react-sdk/src/hooks/use-mfa.ts
  packages/react-sdk/src/provider.tsx
  packages/vue-sdk/src/composables.ts
Due: none

feat(ui,dashboard): MFA-challenge code step + passkey sign-in in the login UI (P1 #1, #2)
  apps/dashboard/app/login/page.tsx
  apps/dashboard/lib/auth.tsx
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-in.tsx
Due: none

feat(auth): MFA-challenge + passkey login UI/SDK (P1) + fix 2 pre-existing 500-on-success bugs (#560)
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/mfa.py
  apps/api/app/routers/v1/passkeys.py
  apps/api/tests/unit/routers/test_login_form_mfa.py
  apps/api/tests/unit/routers/test_mfa_challenge_verify.py
  apps/dashboard/app/login/page.tsx
  apps/dashboard/lib/auth.tsx
  packages/nextjs-sdk/src/app/server.ts
  packages/react-sdk/src/hooks/use-mfa.ts
  packages/react-sdk/src/provider.tsx
  packages/typescript-sdk/src/__tests__/auth.test.ts
  packages/typescript-sdk/src/__tests__/auth/auth-mfa.test.ts
  packages/typescript-sdk/src/__tests__/auth/auth-passkey.test.ts
  packages/typescript-sdk/src/auth.ts
  packages/typescript-sdk/src/auth/core-auth-service.ts
  packages/typescript-sdk/src/auth/mfa-service.ts
  packages/typescript-sdk/src/client.ts
  packages/typescript-sdk/src/types.ts
  packages/typescript-sdk/src/webauthn-helper.ts
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-in.tsx
  packages/vue-sdk/src/composables.ts
Due: detect-bad-mock-paths

fix(test): bump fakeredis so the MFA-verify success-path tests pass on CI
  apps/api/requirements-test.txt
  apps/api/requirements.txt
Due: none

fix(test): bump fakeredis so the MFA-verify success-path tests pass on CI (#561)
  apps/api/requirements-test.txt
  apps/api/requirements.txt
Due: none

feat(oauth): emit organization claims on human tokens (authorization_code + refresh)
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
Due: detect-bad-mock-paths

feat(oauth): emit organization claims on human tokens (authorization_code + refresh) (#563)
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
Due: detect-bad-mock-paths

deploy(prod): promote 7ecd68d
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(auth): make the magic-link rate limit a config knob (default unchanged 5/hour)
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/test_magic_link_rate_limit_knob.py
Due: detect-bad-mock-paths

feat(auth): make the magic-link rate limit a config knob (default unchanged 5/hour) (#564)
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/tests/unit/test_magic_link_rate_limit_knob.py
Due: detect-bad-mock-paths

fix(oauth): key machine-client registration by consumer-edge name, not audience
  AGENTS.md
  apps/api/app/routers/v1/oauth_clients.py
  apps/api/tests/unit/routers/test_oauth_clients_register_consumer_edge.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

fix(oauth): key machine-client registration by consumer-edge name, not audience (#565)
  AGENTS.md
  apps/api/app/routers/v1/oauth_clients.py
  apps/api/tests/unit/routers/test_oauth_clients_register_consumer_edge.py
  docs/service-tokens.md
Due: detect-bad-mock-paths

feat(oauth): forj-catalog-materializer service client (Forj → Yantra4D render)
  apps/api/scripts/seed_service_clients.py
  docs/service-tokens.md
Due: none

feat(oauth): forj-catalog-materializer service client (Forj → Yantra4D render) (#566)
  apps/api/scripts/seed_service_clients.py
  docs/service-tokens.md
Due: none

fix(ci): retry cosign keyless signing and fail loudly on unpinned images
  .github/workflows/docker-publish.yml
Due: none

fix(ci): retry cosign keyless signing and fail loudly on unpinned images (#567)
  .github/workflows/docker-publish.yml
Due: none

fix(cors): allow forgesight.app origins after zone migration
  apps/api/app/middleware/security_headers.py
  apps/api/scripts/seed_core_clients.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(cors): allow forgesight.app origins after zone migration (#569)
  apps/api/app/middleware/security_headers.py
  apps/api/scripts/seed_core_clients.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(security): retire forgesight.quest origins and redirect URIs
  apps/api/app/middleware/security_headers.py
  apps/api/scripts/seed_core_clients.py
  apps/edge-verify/src/index.ts
  apps/website/vendor/ecosystem-banner/platforms.ts
  docs/internal/browser-audit-report.md
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(security): retire forgesight.quest origins and redirect URIs (#572)
  apps/api/app/middleware/security_headers.py
  apps/api/scripts/seed_core_clients.py
  apps/edge-verify/src/index.ts
  apps/website/vendor/ecosystem-banner/platforms.ts
  docs/internal/browser-audit-report.md
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(enclii): remove domain declarations captured onto a nonexistent service
  enclii.yaml
Due: none

fix(enclii): remove domain declarations captured onto a nonexistent service (#574)
  enclii.yaml
Due: none

feat(cors): allow crea-map.madfam.io + ensayo-map.madfam.io for magic-link redirects
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

feat(cors): allow crea-map.madfam.io + ensayo-map.madfam.io for magic-link redirects (#575)
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

feat(admin): create an organization owned by a specified user
  apps/api/app/routers/v1/admin.py
  apps/api/tests/unit/routers/test_admin_create_organization.py
Due: detect-bad-mock-paths

feat(admin): create an organization owned by a specified user (#576)
  apps/api/app/routers/v1/admin.py
  apps/api/tests/unit/routers/test_admin_create_organization.py
Due: detect-bad-mock-paths

deploy(prod): promote af3e7a2
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): per-tenant BODY branding, MADFAM sender unchanged
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/base.html
  apps/api/templates/emails/transactional_workspace-activated.html
  apps/api/tests/unit/services/test_email_branding.py
  docs/EMAIL_SENDER_POLICY.md
Due: detect-bad-mock-paths

feat(email): per-tenant BODY branding, MADFAM sender unchanged (#577)
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_service.py
  apps/api/app/templates/email/base.html
  apps/api/templates/emails/transactional_workspace-activated.html
  apps/api/tests/unit/services/test_email_branding.py
  docs/EMAIL_SENDER_POLICY.md
Due: detect-bad-mock-paths

deploy(prod): promote 92671ec
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): add Crea + MADFAM logos to CTM auth emails
  apps/api/app/services/email_branding.py
  apps/api/app/templates/email/base.html
  apps/api/tests/unit/services/test_email_branding.py
Due: detect-bad-mock-paths

feat(admin): PATCH /admin/organizations/{id} to adopt/repair an org
  apps/api/app/routers/v1/admin.py
  apps/api/tests/unit/routers/test_admin_update_organization.py
Due: detect-bad-mock-paths

feat(email): add Crea + MADFAM logos to CTM auth emails (#578)
  apps/api/app/services/email_branding.py
  apps/api/app/templates/email/base.html
  apps/api/tests/unit/services/test_email_branding.py
Due: detect-bad-mock-paths

feat(admin): PATCH /admin/organizations/{id} to adopt/repair an org (#579)
  apps/api/app/routers/v1/admin.py
  apps/api/tests/unit/routers/test_admin_update_organization.py
Due: detect-bad-mock-paths

deploy(prod): promote f96e2f3
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(entitlements): Phase 0 — status-filter fix, bootstrap products, admin write-API
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/entitlements_service.py
  apps/api/tests/unit/routers/test_admin_entitlements.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
  apps/api/tests/unit/services/test_entitlements_service.py
Due: detect-bad-mock-paths

feat(entitlements): Phase 0 — status-filter fix, bootstrap products, admin write-API (#580)
  apps/api/app/routers/v1/admin.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/services/audit_logger.py
  apps/api/app/services/entitlements_service.py
  apps/api/tests/unit/routers/test_admin_entitlements.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
  apps/api/tests/unit/services/test_entitlements_service.py
Due: detect-bad-mock-paths

feat(oauth): data-API token shaping for enclii PostgREST (BaaS Phase 1)
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_data_api_claims.py
Due: detect-bad-mock-paths
