Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

kustomize-build:
  name: Validate kustomize build
  entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
  language: system
  pass_filenames: false

detect-bad-mock-paths:
  name: Detect incorrect mock paths
  entry: scripts/hooks/detect-bad-mocks.sh
  language: script

fix(admin): stop the login-success bounce to /login (event-name mismatch)
  apps/admin/jest.config.js
  apps/admin/lib/auth.test.tsx
  apps/admin/lib/auth.tsx
  apps/admin/package.json
  jest.preset.js
  packages/typescript-sdk/src/__tests__/client.test.ts
  packages/typescript-sdk/src/client.ts
  pnpm-lock.yaml
Due: none

fix(admin): stop the login-success bounce to /login (event-name mismatch) (#471)
  apps/admin/jest.config.js
  apps/admin/lib/auth.test.tsx
  apps/admin/lib/auth.tsx
  apps/admin/package.json
  jest.preset.js
  packages/typescript-sdk/src/__tests__/client.test.ts
  packages/typescript-sdk/src/client.ts
  pnpm-lock.yaml
Due: none

fix(entitlement): accept hyphenated product slugs in plan ids
  apps/api/app/routers/v1/webhooks_dhanam.py
  apps/api/tests/unit/routers/test_webhooks_dhanam.py
Due: detect-bad-mock-paths

fix(entitlement): accept hyphenated product slugs in plan ids (#472)
  apps/api/app/routers/v1/webhooks_dhanam.py
  apps/api/tests/unit/routers/test_webhooks_dhanam.py
Due: detect-bad-mock-paths

fix(auth): truth wave — honest errors, real policy, working recovery pipeline
  apps/api/alembic/versions/009_add_legacy_webhook_events.py
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  packages/react-sdk/src/components/SignIn.tsx
  packages/react-sdk/src/components/SignUp.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/sign-up.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/error-messages.ts
  packages/ui/src/lib/password-policy.ts
Due: none

test(email): quarantine tests follow the caller-issued-token signature
  apps/api/tests/quarantine/services/test_email_service_comprehensive.py
Due: detect-bad-mock-paths

test(email)+docs: remaining old-contract call sites + legacy router marker
  apps/api/app/auth/router.py
  apps/api/tests/quarantine/services/test_email_service_comprehensive.py
Due: detect-bad-mock-paths

test(email): unit suite follows caller-issued-token contract
  apps/api/tests/unit/services/test_email_service.py
Due: detect-bad-mock-paths

fix(auth): truth wave — honest errors, real password policy, working recovery pipeline (#473)
  apps/api/alembic/versions/009_add_legacy_webhook_events.py
  apps/api/app/auth/router.py
  apps/api/app/config.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/quarantine/services/test_email_service_comprehensive.py
  apps/api/tests/unit/services/test_email_service.py
  packages/react-sdk/src/components/SignIn.tsx
  packages/react-sdk/src/components/SignUp.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/sign-up.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/error-messages.ts
  packages/ui/src/lib/password-policy.ts
Due: detect-bad-mock-paths

chore(k8s): auth-mail env batch for the next deliberate deploy
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

chore(k8s): auth-mail env batch for the next deliberate deploy (#474)
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

fix(ui): await afterSignIn so the session-cookie bridge wins the navigation race
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-in.tsx
Due: none

fix(ui): await afterSignIn so the session-cookie bridge wins the navigation race (#476)
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-in.tsx
Due: none

fix(ui): re-export password policy from its real module — unbreaks every frontend build
  .gitignore
  package.json
  packages/ui/src/index.ts
  scripts/check-ui-barrel-exports.mjs
Due: none

fix(ui): re-export password policy from its real module — unbreaks every frontend build (#477)
  .gitignore
  package.json
  packages/ui/src/index.ts
  scripts/check-ui-barrel-exports.mjs
Due: none

fix(ui): avoid string spread in password policy — unbreaks the dashboard image
  packages/ui/src/lib/password-policy.ts
Due: none

fix(ui): avoid string spread in password policy — unbreaks the dashboard image (#478)
  packages/ui/src/lib/password-policy.ts
Due: none

deploy(prod): promote 99b5a59
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(dashboard): one session-cookie constant — ends the post-login redirect loop
  apps/dashboard/app/login/page.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/components/layout/dashboard-layout.tsx
  apps/dashboard/lib/auth-keys.ts
  apps/dashboard/lib/auth-storage.ts
  apps/dashboard/middleware.ts
Due: none

fix(dashboard): one session-cookie constant — ends the post-login redirect loop (#479)
  apps/dashboard/app/login/page.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/components/layout/dashboard-layout.tsx
  apps/dashboard/lib/auth-keys.ts
  apps/dashboard/lib/auth-storage.ts
  apps/dashboard/middleware.ts
Due: none

deploy(prod): promote 1059157
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(dashboard): a failed OAuth-client load must not read as an empty registry
  apps/dashboard/app/settings/oauth-clients/page.test.tsx
  apps/dashboard/app/settings/oauth-clients/page.tsx
Due: none

fix(oauth): stop POST /oauth/clients minting duplicates, and unpoison the name lookup
  apps/api/app/routers/v1/oauth_clients.py
  apps/api/app/schemas/oauth_client.py
  apps/api/app/services/oauth_client_service.py
  apps/api/tests/unit/routers/test_oauth_clients_duplicate_guard.py
  apps/api/tests/unit/services/test_oauth_client_name_lookup.py
Due: detect-bad-mock-paths

test(ci): make the 50 dead frontend tests runnable and run them
  .github/workflows/pr-quality.yml
  apps/admin/app/health/route.test.ts
  apps/admin/app/page.test.tsx
  apps/admin/jest.config.js
  apps/admin/package.json
  apps/dashboard/app/error.test.tsx
  apps/dashboard/app/health/route.test.ts
  apps/dashboard/app/settings/billing/page.test.tsx
  apps/dashboard/components/dashboard/recent-activity.test.tsx
  apps/dashboard/components/dashboard/stats.test.tsx
  apps/dashboard/components/identities/identity-list.test.tsx
  apps/dashboard/components/organizations/organization-list.test.tsx
  apps/dashboard/components/sessions/session-list.test.tsx
  apps/dashboard/jest.config.js
  apps/dashboard/package.json
  apps/website/components/demo/demo-banner.test.tsx
  apps/website/components/demo/performance-simulator.test.tsx
  apps/website/components/demo/sample-data-manager.test.tsx
  apps/website/jest.config.js
  jest.next-app.js
  package.json
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/auth/user-profile.test.tsx
  pnpm-lock.yaml
  scripts/check-test-scripts.mjs
  tests/setup.js
Due: none

fix(db): budget the connection pools — one process could claim 150 of the cluster's 100 slots
  apps/api/app/config.py
  apps/api/app/database.py
Due: none

fix(db): guard the sync engine's pool args behind the same sqlite check
  apps/api/app/database.py
Due: none

fix(db): budget the DB pools — one process could claim 150 of the cluster's 100 slots (#483)
  apps/api/app/config.py
  apps/api/app/database.py
Due: none

feat(db): pgbouncer-ready runtime — statement cache off in both engines, migrations stay direct
  apps/api/alembic/env.py
  apps/api/app/config.py
  apps/api/app/core/database_manager.py
  apps/api/app/database.py
Due: none

k8s: wire optional DIRECT_DATABASE_URL into janua-api env
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

feat(db): pgbouncer-ready runtime — statement cache off in both engines, migrations stay direct (#485)
  apps/api/alembic/env.py
  apps/api/app/config.py
  apps/api/app/core/database_manager.py
  apps/api/app/database.py
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build

deploy(prod): promote ec0220c
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

fix(oauth): stop POST /oauth/clients minting duplicates, and unpoison the name lookup (#481)
  apps/api/app/routers/v1/oauth_clients.py
  apps/api/app/schemas/oauth_client.py
  apps/api/app/services/oauth_client_service.py
  apps/api/tests/unit/routers/test_oauth_clients_duplicate_guard.py
  apps/api/tests/unit/services/test_oauth_client_name_lookup.py
Due: detect-bad-mock-paths

test(ci): make the 50 dead frontend tests runnable and run them (#482)
  .github/workflows/pr-quality.yml
  apps/admin/app/health/route.test.ts
  apps/admin/app/page.test.tsx
  apps/admin/jest.config.js
  apps/admin/package.json
  apps/dashboard/app/error.test.tsx
  apps/dashboard/app/health/route.test.ts
  apps/dashboard/app/settings/billing/page.test.tsx
  apps/dashboard/components/dashboard/recent-activity.test.tsx
  apps/dashboard/components/dashboard/stats.test.tsx
  apps/dashboard/components/identities/identity-list.test.tsx
  apps/dashboard/components/organizations/organization-list.test.tsx
  apps/dashboard/components/sessions/session-list.test.tsx
  apps/dashboard/jest.config.js
  apps/dashboard/package.json
  apps/website/components/demo/demo-banner.test.tsx
  apps/website/components/demo/performance-simulator.test.tsx
  apps/website/components/demo/sample-data-manager.test.tsx
  apps/website/jest.config.js
  jest.next-app.js
  package.json
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/auth/user-profile.test.tsx
  pnpm-lock.yaml
  scripts/check-test-scripts.mjs
  tests/setup.js
Due: none

chore: remove accidentally-staged .claude worktree gitlink; ignore the directory
  .gitignore
Due: none

fix(security): raise cryptography floors to >=50.0.0 (PYSEC-2026-3552)
  apps/api/requirements.txt
  packages/python-sdk/pyproject.toml
Due: none

fix(sdk): drop Python 3.8, which cannot install cryptography >=50.0.0
  .github/workflows/sdk-ci.yml
  packages/python-sdk/pyproject.toml
Due: none

test(ui): stop 20 loading-state tests racing a 100ms timer
  packages/ui/src/components/auth/audit-log.test.tsx
  packages/ui/src/components/auth/backup-codes.test.tsx
  packages/ui/src/components/auth/device-management.test.tsx
  packages/ui/src/components/auth/mfa-challenge.test.tsx
  packages/ui/src/components/auth/password-reset.test.tsx
  packages/ui/src/components/auth/session-management.test.tsx
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/user-profile.test.tsx
Due: none

test(ui): stop 20 loading-state tests racing a 100ms timer (#487)
  packages/ui/src/components/auth/audit-log.test.tsx
  packages/ui/src/components/auth/backup-codes.test.tsx
  packages/ui/src/components/auth/device-management.test.tsx
  packages/ui/src/components/auth/mfa-challenge.test.tsx
  packages/ui/src/components/auth/password-reset.test.tsx
  packages/ui/src/components/auth/session-management.test.tsx
  packages/ui/src/components/auth/sign-in.test.tsx
  packages/ui/src/components/auth/sign-up.test.tsx
  packages/ui/src/components/auth/user-profile.test.tsx
Due: none

build(deps): bound @babel/core below v8
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  kustomize-build: any of: ^k8s/.*\.yaml$
  detect-bad-mock-paths: any of: ^apps/api/tests/.*\.py$ and \.py$
