Repository madfam-io/janua: changes, and which pre-commit hooks are due for each by the changed paths.
All: kustomize-build, detect-bad-mock-paths

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      - id: ruff-format
        files: ^apps/api/

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-json
        files: \.(json)$

  # Kubernetes manifest validation
  - repo: https://github.com/yannh/kubeconform
    rev: v0.6.4
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        args:
          - -strict
          - -ignore-missing-schemas
          - -summary
        files: ^k8s/.*\.yaml$
        exclude: ^k8s/.*kustomization\.yaml$

  # Kustomize build validation
  - repo: local
    hooks:
      - id: kustomize-build
        name: Validate kustomize build
        entry: bash -c 'command -v kustomize >/dev/null && kustomize build k8s/base > /dev/null || echo "kustomize not installed, skipping"'
        language: system
        files: ^k8s/.*\.yaml$
        pass_filenames: false

  # Local custom hooks
  - repo: local
    hooks:
      # Detect incorrect mock paths that cause tests to make real HTTP calls
      - id: detect-bad-mock-paths
        name: Detect incorrect mock paths
        entry: scripts/hooks/detect-bad-mocks.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        types: [python]

      # Optional: Run tests for changed test files (can be slow)
      # Enable by setting JANUA_RUN_TESTS_ON_COMMIT=1
      - id: pytest-changed
        name: Run tests for changed files
        entry: scripts/hooks/pytest-changed.sh
        language: script
        files: ^apps/api/tests/.*\.py$
        pass_filenames: false
        stages: [manual]  # Only run with: pre-commit run pytest-changed --all-files

# CI configuration
ci:
  autofix_prs: true
  autoupdate_schedule: monthly

feat(oauth): app roles for org-bound service clients via allowed_scopes
  apps/api/app/main.py
  apps/api/app/routers/v1/internal_oauth_client_scopes.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/schemas/oauth_client_scope.py
  apps/api/app/services/audit_logger.py
  apps/api/tests/unit/routers/test_internal_oauth_client_scopes.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
  apps/api/tests/unit/routers/test_service_client_app_roles.py
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

feat(oauth): app roles for org-bound service clients via allowed_scopes (#595)
  apps/api/app/main.py
  apps/api/app/routers/v1/internal_oauth_client_scopes.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/app/schemas/oauth_client_scope.py
  apps/api/app/services/audit_logger.py
  apps/api/tests/unit/routers/test_internal_oauth_client_scopes.py
  apps/api/tests/unit/routers/test_oauth_provider_router.py
  apps/api/tests/unit/routers/test_service_client_app_roles.py
  docs/architecture/CLAIMS_DE_ORGANIZACION_Y_SERVICE_PRINCIPALS.md
Due: detect-bad-mock-paths

ops(alembic): converge alembic_version with the hand-applied migrations
  .github/workflows/promote-to-prod.yml
  apps/api/alembic/PROD_ALEMBIC_STATE.json
  apps/api/scripts/alembic_converge.py
  apps/api/scripts/alembic_promote_guard.py
  apps/api/tests/unit/test_alembic_converge.py
  apps/api/tests/unit/test_alembic_promote_guard.py
  docs/runbooks/ALEMBIC_CONVERGENCE.md
  docs/runbooks/README.md
Due: detect-bad-mock-paths

docs(alembic): say plainly why only the exception type is printed
  apps/api/scripts/alembic_converge.py
Due: none

deploy(prod): promote 7344848
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

ops(alembic): ledger — 014 no aplicada aún en prod (medición 2026-09-04)
  apps/api/alembic/PROD_ALEMBIC_STATE.json
Due: none

ops(alembic): converge alembic_version with the hand-applied migrations (check/stamp script + promote guard) (#596)
  .github/workflows/promote-to-prod.yml
  apps/api/alembic/PROD_ALEMBIC_STATE.json
  apps/api/scripts/alembic_converge.py
  apps/api/scripts/alembic_promote_guard.py
  apps/api/tests/unit/test_alembic_converge.py
  apps/api/tests/unit/test_alembic_promote_guard.py
  docs/runbooks/ALEMBIC_CONVERGENCE.md
  docs/runbooks/README.md
Due: detect-bad-mock-paths

feat(sso): WIP janua_sso estate cookie — mint, resolve at /authorize, revoke on logout
  apps/api/app/auth/sso_cookie.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
Due: none

test(sso): pin the janua_sso contract; docs(sso): record R1 as option 3
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

chore(sso): tighten sso_cookie type annotations; black-format the new files
  apps/api/app/auth/sso_cookie.py
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
Due: detect-bad-mock-paths

test(sso): pin that janua_sso survives a refresh-token rotation
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
Due: detect-bad-mock-paths

docs(sso): record which session paths emit janua_sso and which do not
  docs/architecture/SILENT_SSO_SESSION.md
Due: none

fix(sso): mirror Secure/HttpOnly/SameSite on the janua_sso deletion
  apps/api/app/auth/sso_cookie.py
Due: none

fix(sso): keep oidc_end_session's existing call signature; pin the Request injection
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
Due: detect-bad-mock-paths

fix(oauth): social login callback mints its session with AuthService.create_session on the async session — it called a method that never existed
  apps/api/app/routers/v1/oauth.py
  apps/api/app/services/oauth.py
  apps/api/tests/unit/routers/test_oauth_router.py
  apps/api/tests/unit/services/test_oauth_service.py
Due: detect-bad-mock-paths

test(sso): pin session-limit eviction revoking the cookie; document the /consent seam
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

test(oauth): the signup-locale OAuth cases await the async find_or_create_user
  apps/api/tests/unit/routers/test_signup_locale.py
Due: detect-bad-mock-paths

feat(sso): janua_sso — an httpOnly estate cookie that reaches the browser through the magic-link relay (J5) (#597)
  apps/api/app/auth/sso_cookie.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_janua_sso_cookie.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

fix(oauth): social login callback mints its session with AuthService.create_session on the async session — it called a method that never existed (#598)
  apps/api/app/routers/v1/oauth.py
  apps/api/app/services/oauth.py
  apps/api/tests/unit/routers/test_oauth_router.py
  apps/api/tests/unit/routers/test_signup_locale.py
  apps/api/tests/unit/services/test_oauth_service.py
Due: detect-bad-mock-paths

ops(alembic): ledger records production at 016 — converged 2026-09-06 (parte 7b, block 2)
  apps/api/alembic/PROD_ALEMBIC_STATE.json
Due: none

ops(alembic): ledger records production at 016 — converged 2026-09-06 (parte 7b, block 2) (#599)
  apps/api/alembic/PROD_ALEMBIC_STATE.json
Due: none

deploy(prod): promote 9502690
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(hosts): admit creatumundo.mx brand hosts to the three login allowlists
  apps/api/app/middleware/security_headers.py
  apps/api/app/services/email_branding.py
  apps/api/tests/unit/core/test_url_security.py
  apps/api/tests/unit/middleware/test_security_headers.py
  apps/api/tests/unit/services/test_email_branding.py
  docs/architecture/SILENT_SSO_SESSION.md
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

fix(cors): require a dot boundary for wildcard origin matching
  apps/api/app/middleware/dynamic_cors.py
  apps/api/tests/unit/test_middleware.py
Due: detect-bad-mock-paths

feat(hosts): creatumundo.mx brand hosts in CORS_ORIGINS, CTM_HOSTS and form-action (J7); fix wildcard CORS suffix match (#600)
  apps/api/app/middleware/dynamic_cors.py
  apps/api/app/middleware/security_headers.py
  apps/api/app/services/email_branding.py
  apps/api/tests/unit/core/test_url_security.py
  apps/api/tests/unit/middleware/test_security_headers.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/test_middleware.py
  docs/architecture/SILENT_SSO_SESSION.md
  k8s/base/deployments/janua-api.yaml
Due: kustomize-build, detect-bad-mock-paths

deploy(prod): promote bbcd15d
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

deploy(prod): promote 3df585f
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): magic-link voice follows the requester + timestamped subject (J8)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_voice_and_stamp.py
  docs/EMAIL_SENDER_POLICY.md
Due: detect-bad-mock-paths

fix(oauth): estate session outranks a stale hosted-login cookie in /authorize (J9)
  apps/api/app/auth/sso_cookie.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_cookie_precedence.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

feat(email): magic-link voice follows the requester + timestamped subject (J8) (#601)
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_i18n.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/services/test_email_delivery.py
  apps/api/tests/unit/services/test_email_voice_and_stamp.py
  docs/EMAIL_SENDER_POLICY.md
Due: detect-bad-mock-paths

fix(oauth): estate session outranks a stale hosted-login cookie in /authorize (J9) (#602)
  apps/api/app/auth/sso_cookie.py
  apps/api/app/routers/v1/oauth_provider.py
  apps/api/tests/unit/routers/test_oauth_provider_cookie_precedence.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

feat(email): CTM mail sends as Crea Tu Mundo <hola@creatumundo.mx>, gated on Resend verification (J10)
  apps/api/app/config.py
  apps/api/app/routers/v1/email.py
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/README.md
  docs/runbooks/resend-domain-onboarding.md
  scripts/resend_domain_onboard.py
Due: detect-bad-mock-paths

deploy(prod): promote 187439f
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): CTM mail sends as Crea Tu Mundo <hola@creatumundo.mx>, gated on Resend verification (J10) (#603)
  apps/api/app/config.py
  apps/api/app/routers/v1/email.py
  apps/api/app/services/email_branding.py
  apps/api/app/services/email_sender.py
  apps/api/app/services/email_service.py
  apps/api/app/services/resend_email_service.py
  apps/api/tests/unit/services/test_email_branding.py
  apps/api/tests/unit/services/test_email_sender.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/README.md
  docs/runbooks/resend-domain-onboarding.md
  scripts/resend_domain_onboard.py
Due: detect-bad-mock-paths

feat(auth): hosted hop for magic links on hosts outside the cookie domain
  apps/api/app/auth/hosted_hop.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/auth/test_hosted_hop.py
  apps/api/tests/unit/services/test_magic_link_destination.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

feat(auth): hosted hop for magic links on hosts outside the cookie domain (#604)
  apps/api/app/auth/hosted_hop.py
  apps/api/app/routers/v1/auth.py
  apps/api/app/services/email_service.py
  apps/api/tests/unit/auth/test_hosted_hop.py
  apps/api/tests/unit/services/test_magic_link_destination.py
  docs/architecture/SILENT_SSO_SESSION.md
Due: detect-bad-mock-paths

feat(email): branded sending is vCTO-only and portable to a client's own provider account
  apps/api/app/routers/v1/admin.py
  apps/api/app/services/email_sender.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/services/sender_binding.py
  apps/api/app/services/sender_credentials.py
  apps/api/app/services/sender_policy.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
  scripts/sender_binding_switch.py
Due: detect-bad-mock-paths

fix(tests): close the two CodeQL alerts on the new sender-binding suite
  apps/api/tests/unit/services/test_sender_binding.py
Due: detect-bad-mock-paths

deploy(prod): promote cd56e09
  k8s/overlays/production/kustomization.yaml
Due: kustomize-build

feat(email): branded sending is vCTO-only and portable to a client's own provider account (#605)
  apps/api/app/routers/v1/admin.py
  apps/api/app/services/email_sender.py
  apps/api/app/services/resend_email_service.py
  apps/api/app/services/sender_binding.py
  apps/api/app/services/sender_credentials.py
  apps/api/app/services/sender_policy.py
  apps/api/tests/unit/services/test_sender_binding.py
  docs/EMAIL_SENDER_POLICY.md
  docs/runbooks/resend-domain-onboarding.md
  scripts/sender_binding_switch.py
Due: detect-bad-mock-paths
